@{
	Layout = "_Layout";
}

@using HairSalon.Models;

<h3>Details on @Model.Name</h3>
<p>Years in the industry: @Model.YearsExperience</p>
<p>@Model.Description</p>

<p>@Html.ActionLink("Add new stylist", "Create")</p>