@{
	Layout = "_Layout";
}

@using HairSalon.Models;

<h3>Details on @Model.Name</h3>

<p>Styled by @Html.ActionLink($"{Model.Stylist.Name}", "Details", "Stylists", new {id = Model.Stylist.StylistId})</p>
<p>Hairtype: @Model.HairType</p>